name: Android CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: set up JDK 11
      uses: actions/setup-java@v4
      with:
        java-version: '11'
        distribution: 'temurin'
        cache: gradle

    - name: Grant execute permission for gradlew
      working-directory: ./Oxygen/sonic3air/build/_android
      run: chmod +x gradlew
    - name: Build with Gradle
      working-directory: ./Oxygen/sonic3air/build/_android
      run: ./gradlew build
    - name: Upload artifact Android
      uses: actions/upload-artifact@v4
      with:
        name: v4-android
        working-directory: ./Oxygen/sonic3air/build
        path: ./_android/app/build/outputs/apk
