name: Android CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: set up JDK 11
      uses: actions/setup-java@main
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: gradle
    - name: Grant execute permission for gradlew
      working-directory: ./Oxygen/sonic3air/build/_android
      run: |
        chmod +x gradlew
    - name: jkdkz
      working-directory: ./Oxygen/sonic3air/___internal/mastering
      run: |
        chmod +x ./mastering_linux.sh build
        chmod +x ./setup_linux.sh build
    - name: Build with Gradle
      working-directory: ./Oxygen/sonic3air/build/_android
      run: ./gradlew build
    - name: Upload artifact Android
      uses: actions/upload-artifact@main
      with:
        name: v4-android
        path: ./Oxygen/sonic3air/build/_android/app/build/outputs/apk
