name: Android CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: set up JDK 11
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'
    - name: jzjk
      working-directory: ./Oxygen/sonic3air/___internal/mastering
      run: chmod +x ./mastering_android.bat
    - name: jsj
      working-directory: ./Oxygen/sonic3air/build/_android
      run: chmod +x ./gradlew.bat -PABIFILTERS="armeabi-v7a;arm64-v8a"
    - name: Upload artifact Android
      uses: actions/upload-artifact@v4
      with:
        name: v4-android
        working-directory: ./Oxygen/sonic3air/build
        path: ./_android/app/build/outputs/apk
